.hero {
    padding-top: 50px;
    background-color: cornflowerblue;

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
    
}

.button-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    
    .page-button {
        border: 1px solid black;
        padding: 30px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        margin-bottom: 30px;

        &_next {
            background-image: url(../../img/hero/arrow-next.png);
        }

        &_prev {
            background-image: url(../../img/hero/arrow-prev.png);
        }
    }
}
