@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


// Reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  color: #19334b;
}

ol, ul {
	list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input, button {
  outline: none;
  border: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}






