:root {
    --main-font: "Work Sans", sans-serif;
    --sub-font: "Open Sans", sans-serif;

    --h1: 300 83px/83px var(--main-font);
}
// font-family: "Open Sans", sans-serif;
// font-family: "Work Sans", sans-serif;

.h1 {
    font: var(--h1);
}
